.edit__background {
  margin-top: 100px;
  background-color: #dbdbdb;
}

.edit__profile__container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 6rem 10rem;
}

.edit__options__container {
  padding: 0 10px;
  border-right: 1px solid rgba(219, 219, 219, 1);
}

.edit__options__container li {
  text-align: left;
}

.main__content {
  flex: 1;
  padding: 0 3rem;
}

.main__content .edit__avatar__container {
  display: flex;
}

.edit__avatar__container .user__avatar__btn {
  border: 0;
  padding: 0;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
}

.user__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username__container {
  flex: 1;
  margin-left: 1rem;
}

.username__container h1 {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 200;
  font-size: 20px;
}

.username__container button {
  cursor: pointer;
  padding: 0;
  font-weight: 600;
  color: #0095f6;
  background-color: #ffffff;
  border: 0;
}

.submit__btn__container {
  margin-top: 2rem;
  text-align: center;
}
